<main class="contenedor">
    <form method="POST" action="/create-account" class="default-form">
        <div class="campo">
            <label for="userName">Name</label>
            <input type="text" name="userName" placeholder="Your name">
        </div>
        <div class="campo">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Your email">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Your password">
        </div>
        <div class="campo">
            <label for="confirm">Repeat Password</label>
            <input type="password" name="confirm" placeholder="Repeat your password">
        </div>
        <div class="campo acciones">
            <a href="/login">Return to log</a>
        </div>
        <div class="campo">
            <input type="submit" value="Create Account" class="btn btn-azul">
        </div>
    </form>
</main>