<div class="contenedor">
    <form action="/reset-password" method="POST" class="default-form">
        <div class="campo">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Your Email" required>
        </div>
        
        <div class="campo acciones">
            <a href="/log In">Login</a>
        </div>

        <div class="campo">
            <input type="submit" value="Login" class="btn btn-azul">
        </div>
    </form>
</div>